*, ::before, ::after {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x:  ;
	--tw-pan-y:  ;
	--tw-pinch-zoom:  ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position:  ;
	--tw-gradient-via-position:  ;
	--tw-gradient-to-position:  ;
	--tw-ordinal:  ;
	--tw-slashed-zero:  ;
	--tw-numeric-figure:  ;
	--tw-numeric-spacing:  ;
	--tw-numeric-fraction:  ;
	--tw-ring-inset:  ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur:  ;
	--tw-brightness:  ;
	--tw-contrast:  ;
	--tw-grayscale:  ;
	--tw-hue-rotate:  ;
	--tw-invert:  ;
	--tw-saturate:  ;
	--tw-sepia:  ;
	--tw-drop-shadow:  ;
	--tw-backdrop-blur:  ;
	--tw-backdrop-brightness:  ;
	--tw-backdrop-contrast:  ;
	--tw-backdrop-grayscale:  ;
	--tw-backdrop-hue-rotate:  ;
	--tw-backdrop-invert:  ;
	--tw-backdrop-opacity:  ;
	--tw-backdrop-saturate:  ;
	--tw-backdrop-sepia:  
  }
  
  ::backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x:  ;
	--tw-pan-y:  ;
	--tw-pinch-zoom:  ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position:  ;
	--tw-gradient-via-position:  ;
	--tw-gradient-to-position:  ;
	--tw-ordinal:  ;
	--tw-slashed-zero:  ;
	--tw-numeric-figure:  ;
	--tw-numeric-spacing:  ;
	--tw-numeric-fraction:  ;
	--tw-ring-inset:  ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur:  ;
	--tw-brightness:  ;
	--tw-contrast:  ;
	--tw-grayscale:  ;
	--tw-hue-rotate:  ;
	--tw-invert:  ;
	--tw-saturate:  ;
	--tw-sepia:  ;
	--tw-drop-shadow:  ;
	--tw-backdrop-blur:  ;
	--tw-backdrop-brightness:  ;
	--tw-backdrop-contrast:  ;
	--tw-backdrop-grayscale:  ;
	--tw-backdrop-hue-rotate:  ;
	--tw-backdrop-invert:  ;
	--tw-backdrop-opacity:  ;
	--tw-backdrop-saturate:  ;
	--tw-backdrop-sepia:  
  }
  
  .tw-col-span-1 {
	grid-column: span 1 / span 1 !important
  }
  
  .tw-m-3 {
	margin: 0.75rem !important
  }
  
  .tw-m-5 {
	margin: 1.25rem !important
  }
  
  .tw-m-auto {
	margin: auto !important
  }
  
  .tw-mb-1 {
	margin-bottom: 0.25rem !important
  }
  
  .tw-mb-10 {
	margin-bottom: 2.5rem !important
  }
  
  .tw-mb-14 {
	margin-bottom: 3.5rem !important
  }
  
  .tw-mb-16 {
	margin-bottom: 4rem !important
  }
  
  .tw-mb-2 {
	margin-bottom: 0.5rem !important
  }
  
  .tw-mb-3 {
	margin-bottom: 0.75rem !important
  }
  
  .tw-mb-4 {
	margin-bottom: 1rem !important
  }
  
  .tw-mb-5 {
	margin-bottom: 1.25rem !important
  }
  
  .tw-mb-6 {
	margin-bottom: 1.5rem !important
  }
  
  .tw-mb-7 {
	margin-bottom: 1.75rem !important
  }
  
  .tw-mb-\[20px\] {
	margin-bottom: 20px !important
  }
  
  .tw-mb-\[50px\] {
	margin-bottom: 50px !important
  }
  
  .tw-ml-1 {
	margin-left: 0.25rem !important
  }
  
  .tw-ml-2 {
	margin-left: 0.5rem !important
  }
  
  .tw-mt-1 {
	margin-top: 0.25rem !important
  }
  
  .tw-mt-10 {
	margin-top: 2.5rem !important
  }
  
  .tw-mt-11 {
	margin-top: 2.75rem !important
  }
  
  .tw-mt-12 {
	margin-top: 3rem !important
  }
  
  .tw-mt-2 {
	margin-top: 0.5rem !important
  }
  
  .tw-mt-24 {
	margin-top: 6rem !important
  }
  
  .tw-mt-3 {
	margin-top: 0.75rem !important
  }
  
  .tw-mt-4 {
	margin-top: 1rem !important
  }
  
  .tw-mt-5 {
	margin-top: 1.25rem !important
  }
  
  .tw-mt-6 {
	margin-top: 1.5rem !important
  }
  
  .tw-mt-8 {
	margin-top: 2rem !important
  }
  
  .tw-mt-\[-48px\] {
	margin-top: -48px !important
  }
  
  .tw-mt-\[-5px\] {
	margin-top: -5px !important
  }
  
  .tw-mt-\[30px\] {
	margin-top: 30px !important
  }
  
  .tw-mt-\[60px\] {
	margin-top: 60px !important
  }
  
  .tw-mt-\[7px\] {
	margin-top: 7px !important
  }
  
  .tw-mt-\[-2px\] {
	margin-top: -2px !important
  }
  
  .tw-mt-\[-3px\] {
	margin-top: -3px !important
  }
  
  .tw-mt-1\.5 {
	margin-top: 0.375rem !important
  }
  
  .tw-ml-auto {
	margin-left: auto !important
  }
  
  .tw-mr-2 {
	margin-right: 0.5rem !important
  }
  
  .tw-inline-block {
	display: inline-block !important
  }
  
  .tw-flex {
	display: flex !important
  }
  
  .tw-grid {
	display: grid !important
  }
  
  .tw-h-11 {
	height: 2.75rem !important
  }
  
  .tw-h-12 {
	height: 3rem !important
  }
  
  .tw-h-7 {
	height: 1.75rem !important
  }
  
  .tw-h-96 {
	height: 24rem !important
  }
  
  .tw-h-\[130vh\] {
	height: 130vh !important
  }
  
  .tw-h-\[57px\] {
	height: 57px !important
  }
  
  .tw-h-\[70px\] {
	height: 70px !important
  }
  
  .tw-h-full {
	height: 100% !important
  }
  
  .tw-h-screen {
	height: 100vh !important
  }
  
  .tw-h-3 {
	height: 0.75rem !important
  }
  
  .tw-w-10 {
	width: 2.5rem !important
  }
  
  .tw-w-20 {
	width: 5rem !important
  }
  
  .tw-w-40 {
	width: 10rem !important
  }
  
  .tw-w-8 {
	width: 2rem !important
  }
  
  .tw-w-\[1200px\] {
	width: 1200px !important
  }
  
  .tw-w-\[70px\] {
	width: 70px !important
  }
  
  .tw-w-full {
	width: 100% !important
  }
  
  .tw-w-3 {
	width: 0.75rem !important
  }
  
  .tw-grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr)) !important
  }
  
  .tw-grid-cols-8 {
	grid-template-columns: repeat(8, minmax(0, 1fr)) !important
  }
  
  .tw-grid-cols-12 {
	grid-template-columns: repeat(12, minmax(0, 1fr)) !important
  }
  
  .tw-place-content-center {
	place-content: center !important
  }
  
  .tw-items-center {
	align-items: center !important
  }
  
  .tw-justify-end {
	justify-content: flex-end !important
  }
  
  .tw-justify-center {
	justify-content: center !important
  }
  
  .tw-justify-evenly {
	justify-content: space-evenly !important
  }
  
  .tw-justify-items-center {
	justify-items: center !important
  }
  
  .tw-gap-10 {
	gap: 2.5rem !important
  }
  
  .tw-space-y-4 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0 !important;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse))) !important;
	margin-bottom: calc(1rem * var(--tw-space-y-reverse)) !important
  }
  
  .tw-space-y-5 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0 !important;
	margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse))) !important;
	margin-bottom: calc(1.25rem * var(--tw-space-y-reverse)) !important
  }
  
  .tw-rounded-2xl {
	border-radius: 1rem !important
  }
  
  .tw-rounded-3xl {
	border-radius: 1.5rem !important
  }
  
  .tw-rounded-full {
	border-radius: 9999px !important
  }
  
  .tw-rounded-sm {
	border-radius: 0.125rem !important
  }
  
  .tw-rounded-xl {
	border-radius: 0.75rem !important
  }
  
  .tw-rounded-md {
	border-radius: 0.375rem !important
  }
  
  .tw-border {
	border-width: 1px !important
  }
  
  .tw-border-b-2 {
	border-bottom-width: 2px !important
  }
  
  .tw-border-black {
	--tw-border-opacity: 1 !important;
	border-color: rgb(0 0 0 / var(--tw-border-opacity)) !important
  }
  
  .tw-border-green-500 {
	--tw-border-opacity: 1 !important;
	border-color: rgb(34 197 94 / var(--tw-border-opacity)) !important
  }
  
  .tw-border-orange-500 {
	--tw-border-opacity: 1 !important;
	border-color: rgb(249 115 22 / var(--tw-border-opacity)) !important
  }
  
  .tw-border-red-500 {
	--tw-border-opacity: 1 !important;
	border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important
  }
  
  .tw-bg-\[\#f7f7f7\] {
	--tw-bg-opacity: 1 !important;
	background-color: rgb(247 247 247 / var(--tw-bg-opacity)) !important
  }
  
  .tw-bg-\[\#f8ecdf\] {
	--tw-bg-opacity: 1 !important;
	background-color: rgb(248 236 223 / var(--tw-bg-opacity)) !important
  }
  
  .tw-bg-black {
	--tw-bg-opacity: 1 !important;
	background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important
  }
  
  .tw-bg-gray-100 {
	--tw-bg-opacity: 1 !important;
	background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important
  }
  
  .tw-bg-gray-200 {
	--tw-bg-opacity: 1 !important;
	background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important
  }
  
  .tw-bg-cover {
	background-size: cover !important
  }
  
  .tw-p-1 {
	padding: 0.25rem !important
  }
  
  .tw-p-12 {
	padding: 3rem !important
  }
  
  .tw-p-2 {
	padding: 0.5rem !important
  }
  
  .tw-p-3 {
	padding: 0.75rem !important
  }
  
  .tw-p-5 {
	padding: 1.25rem !important
  }
  
  .tw-p-\[18px\] {
	padding: 18px !important
  }
  
  .tw-p-\[19px\] {
	padding: 19px !important
  }
  
  .tw-pb-11 {
	padding-bottom: 2.75rem !important
  }
  
  .tw-pb-20 {
	padding-bottom: 5rem !important
  }
  
  .tw-pb-9 {
	padding-bottom: 2.25rem !important
  }
  
  .tw-pl-1 {
	padding-left: 0.25rem !important
  }
  
  .tw-pl-12 {
	padding-left: 3rem !important
  }
  
  .tw-pl-2 {
	padding-left: 0.5rem !important
  }
  
  .tw-pl-3 {
	padding-left: 0.75rem !important
  }
  
  .tw-pl-5 {
	padding-left: 1.25rem !important
  }
  
  .tw-pl-7 {
	padding-left: 1.75rem !important
  }
  
  .tw-pr-2 {
	padding-right: 0.5rem !important
  }
  
  .tw-pt-10 {
	padding-top: 2.5rem !important
  }
  
  .tw-pt-9 {
	padding-top: 2.25rem !important
  }
  
  .tw-text-center {
	text-align: center !important
  }
  
  .tw-text-2xl {
	font-size: 1.5rem !important;
	line-height: 2rem !important
  }
  
  .tw-text-3xl {
	font-size: 1.875rem !important;
	line-height: 2.25rem !important
  }
  
  .tw-text-4xl {
	font-size: 2.25rem !important;
	line-height: 2.5rem !important
  }
  
  .tw-text-\[16px\] {
	font-size: 16px !important
  }
  
  .tw-text-\[17px\] {
	font-size: 17px !important
  }
  
  .tw-text-\[18px\] {
	font-size: 18px !important
  }
  
  .tw-text-\[19px\] {
	font-size: 19px !important
  }
  
  .tw-text-\[32px\] {
	font-size: 32px !important
  }
  
  .tw-text-\[34px\] {
	font-size: 34px !important
  }
  
  .tw-text-\[40px\] {
	font-size: 40px !important
  }
  
  .tw-text-base {
	font-size: 1rem !important;
	line-height: 1.5rem !important
  }
  
  .tw-text-lg {
	font-size: 1.125rem !important;
	line-height: 1.75rem !important
  }
  
  .tw-text-xl {
	font-size: 1.25rem !important;
	line-height: 1.75rem !important
  }
  
  .tw-font-\[500\] {
	font-weight: 500 !important
  }
  
  .tw-font-\[650\] {
	font-weight: 650 !important
  }
  
  .tw-font-\[680\] {
	font-weight: 680 !important
  }
  
  .tw-font-\[700\] {
	font-weight: 700 !important
  }
  
  .tw-font-bold {
	font-weight: 700 !important
  }
  
  .tw-font-light {
	font-weight: 300 !important
  }
  
  .tw-font-normal {
	font-weight: 400 !important
  }
  
  .tw-font-semibold {
	font-weight: 600 !important
  }
  
  .tw-font-thin {
	font-weight: 100 !important
  }
  
  .tw-leading-10 {
	line-height: 2.5rem !important
  }
  
  .tw-tracking-wide {
	letter-spacing: 0.025em !important
  }
  
  .tw-text-black {
	--tw-text-opacity: 1 !important;
	color: rgb(0 0 0 / var(--tw-text-opacity)) !important
  }
  
  .tw-text-gray-500 {
	--tw-text-opacity: 1 !important;
	color: rgb(107 114 128 / var(--tw-text-opacity)) !important
  }
  
  .tw-text-gray-600 {
	--tw-text-opacity: 1 !important;
	color: rgb(75 85 99 / var(--tw-text-opacity)) !important
  }
  
  .tw-text-purple-100 {
	--tw-text-opacity: 1 !important;
	color: rgb(243 232 255 / var(--tw-text-opacity)) !important
  }
  
  .tw-text-white {
	--tw-text-opacity: 1 !important;
	color: rgb(255 255 255 / var(--tw-text-opacity)) !important
  }
  
  .tw-text-red-500 {
	--tw-text-opacity: 1 !important;
	color: rgb(239 68 68 / var(--tw-text-opacity)) !important
  }
  
  .tw-shadow-2xl {
	--tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
	--tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
  }
  
  .tw-shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
	--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
  }
  
  .tw-shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
  }
  
  .hover\:tw-border-none:hover {
	border-style: none !important
  }
  
  .hover\:tw-border-red-500:hover {
	--tw-border-opacity: 1 !important;
	border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important
  }
  
  .hover\:tw-bg-\[\#d3a478\]:hover {
	--tw-bg-opacity: 1 !important;
	background-color: rgb(211 164 120 / var(--tw-bg-opacity)) !important
  }
  
  .hover\:tw-bg-red-500:hover {
	--tw-bg-opacity: 1 !important;
	background-color: rgb(239 68 68 / var(--tw-bg-opacity)) !important
  }
  
  .hover\:tw-text-white:hover {
	--tw-text-opacity: 1 !important;
	color: rgb(255 255 255 / var(--tw-text-opacity)) !important
  }
  
  .hover\:tw-text-red-500:hover {
	--tw-text-opacity: 1 !important;
	color: rgb(239 68 68 / var(--tw-text-opacity)) !important
  }
  
  @media not all and (min-width: 768px) {
	.max-md\:tw-m-7 {
	  margin: 1.75rem !important
	}
  
	.max-md\:tw-ml-6 {
	  margin-left: 1.5rem !important
	}
  
	.max-md\:tw-mt-4 {
	  margin-top: 1rem !important
	}
  
	.max-md\:tw-w-\[180px\] {
	  width: 180px !important
	}
  
	.max-md\:tw-p-20 {
	  padding: 5rem !important
	}
  }
  
  @media not all and (min-width: 640px) {
	.max-sm\:tw-invisible {
	  visibility: hidden !important
	}
  
	.max-sm\:tw-m-6 {
	  margin: 1.5rem !important
	}
  
	.max-sm\:tw-ml-0 {
	  margin-left: 0px !important
	}
  
	.max-sm\:tw-mt-6 {
	  margin-top: 1.5rem !important
	}
  
	.max-sm\:tw-w-full {
	  width: 100% !important
	}
  
	.max-sm\:tw-pb-8 {
	  padding-bottom: 2rem !important
	}
  
	.max-sm\:tw-pl-14 {
	  padding-left: 3.5rem !important
	}
  
	.max-sm\:tw-pt-8 {
	  padding-top: 2rem !important
	}
  
	.max-sm\:tw-tracking-normal {
	  letter-spacing: 0em !important
	}
  
	.max-sm\:tw-tracking-tight {
	  letter-spacing: -0.025em !important
	}
  }
  
  @media (min-width: 640px) {
	.sm\:tw-invisible {
	  visibility: hidden !important
	}
  
	.sm\:tw-col-span-2 {
	  grid-column: span 2 / span 2 !important
	}
  
	.sm\:tw-mt-16 {
	  margin-top: 4rem !important
	}
  
	.sm\:tw-grid {
	  display: grid !important
	}
  
	.sm\:tw-grid-cols-2 {
	  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
	}
  
	.sm\:tw-pb-8 {
	  padding-bottom: 2rem !important
	}
  
	.sm\:tw-pl-20 {
	  padding-left: 5rem !important
	}
  
	.sm\:tw-pt-10 {
	  padding-top: 2.5rem !important
	}
  }
  
  @media (min-width: 768px) {
	.md\:tw-visible {
	  visibility: visible !important
	}
  
	.md\:tw-col-span-1 {
	  grid-column: span 1 / span 1 !important
	}
  
	.md\:tw-col-span-2 {
	  grid-column: span 2 / span 2 !important
	}
  
	.md\:tw-m-5 {
	  margin: 1.25rem !important
	}
  
	.md\:tw-mb-0 {
	  margin-bottom: 0px !important
	}
  
	.md\:tw-mb-10 {
	  margin-bottom: 2.5rem !important
	}
  
	.md\:tw-ml-12 {
	  margin-left: 3rem !important
	}
  
	.md\:tw-ml-32 {
	  margin-left: 8rem !important
	}
  
	.md\:tw-ml-36 {
	  margin-left: 9rem !important
	}
  
	.md\:tw-ml-5 {
	  margin-left: 1.25rem !important
	}
  
	.md\:tw-ml-6 {
	  margin-left: 1.5rem !important
	}
  
	.md\:tw-mr-16 {
	  margin-right: 4rem !important
	}
  
	.md\:tw-mr-32 {
	  margin-right: 8rem !important
	}
  
	.md\:tw-mr-36 {
	  margin-right: 9rem !important
	}
  
	.md\:tw-mr-5 {
	  margin-right: 1.25rem !important
	}
  
	.md\:tw-mt-10 {
	  margin-top: 2.5rem !important
	}
  
	.md\:tw-mt-14 {
	  margin-top: 3.5rem !important
	}
  
	.md\:tw-mt-16 {
	  margin-top: 4rem !important
	}
  
	.md\:tw-mt-20 {
	  margin-top: 5rem !important
	}
  
	.md\:tw-mt-4 {
	  margin-top: 1rem !important
	}
  
	.md\:tw-mt-5 {
	  margin-top: 1.25rem !important
	}
  
	.md\:tw-flex {
	  display: flex !important
	}
  
	.md\:tw-h-\[67vh\] {
	  height: 67vh !important
	}
  
	.md\:tw-w-\[180px\] {
	  width: 180px !important
	}
  
	.md\:tw-w-\[400px\] {
	  width: 400px !important
	}
  
	.md\:tw-w-\[60vh\] {
	  width: 60vh !important
	}
  
	.md\:tw-w-full {
	  width: 100% !important
	}
  
	.md\:tw-grid-cols-2 {
	  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
	}
  
	.md\:tw-grid-cols-3 {
	  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
	}
  
	.md\:tw-flex-wrap {
	  flex-wrap: wrap !important
	}
  
	.md\:tw-p-0 {
	  padding: 0px !important
	}
  
	.md\:tw-p-12 {
	  padding: 3rem !important
	}
  
	.md\:tw-p-20 {
	  padding: 5rem !important
	}
  
	.md\:tw-pl-5 {
	  padding-left: 1.25rem !important
	}
  
	.md\:tw-pr-5 {
	  padding-right: 1.25rem !important
	}
  
	.md\:tw-leading-normal {
	  line-height: 1.5 !important
	}
  
	.md\:tw-tracking-normal {
	  letter-spacing: 0em !important
	}
  
	.md\:tw-tracking-wide {
	  letter-spacing: 0.025em !important
	}
  }
  
  @media (min-width: 1024px) {
	.lg\:tw-visible {
	  visibility: visible !important
	}
  
	.lg\:tw-m-16 {
	  margin: 4rem !important
	}
  
	.lg\:tw-mb-0 {
	  margin-bottom: 0px !important
	}
  
	.lg\:tw-mb-16 {
	  margin-bottom: 4rem !important
	}
  
	.lg\:tw-ml-0 {
	  margin-left: 0px !important
	}
  
	.lg\:tw-ml-10 {
	  margin-left: 2.5rem !important
	}
  
	.lg\:tw-ml-20 {
	  margin-left: 5rem !important
	}
  
	.lg\:tw-ml-56 {
	  margin-left: 14rem !important
	}
  
	.lg\:tw-ml-6 {
	  margin-left: 1.5rem !important
	}
  
	.lg\:tw-mr-0 {
	  margin-right: 0px !important
	}
  
	.lg\:tw-mr-10 {
	  margin-right: 2.5rem !important
	}
  
	.lg\:tw-mr-20 {
	  margin-right: 5rem !important
	}
  
	.lg\:tw-mt-14 {
	  margin-top: 3.5rem !important
	}
  
	.lg\:tw-mt-16 {
	  margin-top: 4rem !important
	}
  
	.lg\:tw-flex {
	  display: flex !important
	}
  
	.lg\:tw-grid {
	  display: grid !important
	}
  
	.lg\:tw-h-\[70vh\] {
	  height: 70vh !important
	}
  
	.lg\:tw-w-\[1270px\] {
	  width: 1270px !important
	}
  
	.lg\:tw-w-\[180px\] {
	  width: 180px !important
	}
  
	.lg\:tw-w-\[240px\] {
	  width: 240px !important
	}
  
	.lg\:tw-w-\[500px\] {
	  width: 500px !important
	}
  
	.lg\:tw-grid-cols-2 {
	  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
	}
  
	.lg\:tw-grid-cols-3 {
	  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
	}
  
	.lg\:tw-p-20 {
	  padding: 5rem !important
	}
  
	.lg\:tw-p-24 {
	  padding: 6rem !important
	}
  
	.lg\:tw-p-5 {
	  padding: 1.25rem !important
	}
  
	.lg\:tw-p-10 {
	  padding: 2.5rem !important
	}
  
	.lg\:tw-pl-40 {
	  padding-left: 10rem !important
	}
  
	.lg\:tw-pr-44 {
	  padding-right: 11rem !important
	}
  
	.lg\:tw-pt-24 {
	  padding-top: 6rem !important
	}
  
	.lg\:tw-leading-normal {
	  line-height: 1.5 !important
	}
  
	.lg\:tw-tracking-wide {
	  letter-spacing: 0.025em !important
	}
  }